* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
  height: 100%;
}
.pr {
  position: relative;
}
.b-lazy {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}
.container-fluid {
  min-width: 1200px;
}
.container-fluid .banner {
  height: 1080px;
}
.container-fluid .banner .pro-con {
  width: 900px;
  text-align: center;
  font-size: 24px;
  color: #fefefe;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
}
.container-fluid .pro1 {
  height: 1088px;
}
.container-fluid .pro1 .pro-con {
  width: 725px;
  text-align: center;
  font-size: 21px;
  line-height: 24px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 518px;
  transform: translateX(-50%);
  margin-left: 330px;
}
.container-fluid .pro2 {
  height: 1088px;
}
.container-fluid .pro2 .pro-con {
  width: 1030px;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 185px;
  transform: translateX(-50%);
}
.container-fluid .pro3 {
  height: 1040px;
}
.container-fluid .pro3 .pro-con {
  min-width: 1400px;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 380px;
  transform: translateX(-50%);
}
.container-fluid .pro4 {
  height: 1200px;
}
.container-fluid .pro4 .pro-con {
  width: 760px;
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 155px;
  transform: translateX(-50%);
}
.container-fluid .pro5 {
  height: 1040px;
}
.container-fluid .pro5 .pro-con {
  width: 390px;
  text-align: left;
  font-size: 27px;
  line-height: 34px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 300px;
  margin-left: 210px;
}
.container-fluid .pro5 .pro-con p {
  margin-bottom: 65px;
}
.container-fluid .pro5 .pro-con p:nth-child(2) {
  margin-bottom: 45px;
}
.container-fluid .pro6 {
  height: 1098px;
}
.container-fluid .pro6 .pro-con {
  width: 1030px;
  text-align: left;
  font-size: 30px;
  line-height: 53px;
  color: #ffffff;
  position: absolute;
  left: 50%;
  bottom: 143px;
  display: flex;
  padding: 0 125px 0 80px;
  transform: translateX(-50%);
  justify-content: space-between;
}
